---
import MainPage from "../components/MainPage.astro";
import MainPageHeadline from "../components/MainPageHeadline.astro";
---

<MainPage>
  <MainPageHeadline> EPK </MainPageHeadline>

  <h1>Coming Soon!</h1>
</MainPage>
