---
import HeaderNavLink from "../components/HeaderNavLink.astro";
import RDLogoCircle from "../components/RDLogo-circle.astro";
import RDLogoSmall from "../components/RDLogo-small.astro";
import SocialMediaContainer from "../components/SocialMediaContainer.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import LinkComponent from "./LinkComponent.astro";

const copyRightYear = new Date().getFullYear();

const checkIfActive = (routeToCheck: string) =>
  Astro.url.pathname.includes(routeToCheck);
---

<Layout>
  <div id="home-page-container">
    <header
      class="p-8 bg-amber-200 mb-24 inset-shadow-amber-400 inset-shadow-sm"
    >
      <div
        class="flex w-full max-w-container m-auto justify-between max-w-[1200px] items-center align-middle"
      >
        <nav class="w-full">
          <ul
            class="grid auto-cols-max grid-flow-col gap-8 w-full items-center align-middle"
          >
            <li>
              <a href="/">
                <RDLogoSmall />
              </a>
            </li>
            <li>
              <HeaderNavLink
                active={checkIfActive("bio")}
                href="/bio"
                text="Bio"
              />
            </li>
            <li>
              <HeaderNavLink
                active={checkIfActive("upcoming")}
                href="/upcoming"
                text="Upcoming"
              />
            </li>
          </ul>
        </nav>
        <div class="w-full relative">
          <div class="absolute inset-x-0 -bottom-35">
            <RDLogoCircle />
          </div>
        </div>
        <div class="w-full">
          <nav class="w-full">
            <ul
              class="grid auto-cols-max grid-flow-col gap-8 w-full justify-end"
            >
              <li>
                <HeaderNavLink
                  active={checkIfActive("musik")}
                  href="/musik"
                  text="Musik"
                />
              </li>
              <li>
                <HeaderNavLink
                  active={checkIfActive("media")}
                  href="/media"
                  text="Media"
                />
              </li>
              <li>
                <HeaderNavLink
                  active={checkIfActive("epk")}
                  href="/epk"
                  text="EPK"
                />
              </li>
              <li>
                <HeaderNavLink
                  active={checkIfActive("kontakt")}
                  href="/kontakt"
                  text="Kontakt"
                />
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main class="mb-8 relative">
      <div
        class="fixed top-50 rounded-r-lg bg-white py-2 lg:px-4 max-w-[400px] m-auto grid grid-cols-1 gap-1 items-center justify-center align-middle"
      >
        <SocialMediaContainer />
      </div>
      <div class="p-4 md:p-8 bg-paper max-w-[1200px] m-auto min-h-screen">
        <slot />
      </div>
    </main>

    <footer class="p-16 bg-amber-200 items-center justify-center align-middle">
      <div class="text-center text-lg">
        <div>&copy; Ragin'D {copyRightYear}</div>
        <div>
          Made By <LinkComponent href="https://www.rustybass.com/" isExternal
            >Russell</LinkComponent
          >
        </div>
        <div>
          You need help with a website? <LinkComponent
            href="https://www.rustybass.com/contact"
            isExternal
          >
            Let me know 😎</LinkComponent
          >
        </div>
      </div>
    </footer>
  </div>
</Layout>

<style>
  #home-page-container {
    background: rgb(163, 43, 0);
    background: linear-gradient(
      180deg,
      rgba(163, 43, 0, 0.5802696078431373) 0%,
      rgba(148, 15, 15, 1) 30%,
      rgba(136, 61, 18, 1) 60%,
      rgba(193, 56, 41, 0.8715861344537815) 100%
    );
  }

  .bg-paper {
    background-color: #f7f2dd;
  }
</style>
