---
import SocialMediaContainer from "../components/SocialMediaContainer.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import LinkComponent from "./LinkComponent.astro";
import MainPageHeader from "./MainPageHeader.astro";

const copyRightYear = new Date().getFullYear();
---

<Layout>
  <div id="home-page-container">
    <header
      class="p-0 md:p-8 bg-amber-200 mb-0 md:mb-24 inset-shadow-amber-400 inset-shadow-sm"
    >
      <MainPageHeader />
    </header>

    <main class="md:mb-8 relative">
      <div
        class="hidden fixed top-50 rounded-r-lg bg-white py-2 lg:px-4 max-w-[400px] m-auto md:grid grid-cols-1 gap-1 items-center justify-center align-middle"
      >
        <SocialMediaContainer iconSize={80} />
      </div>
      <div class="p-4 md:p-8 bg-paper max-w-[1200px] m-auto md:min-h-screen">
        <slot />
      </div>
    </main>

    <footer class="bg-amber-200 items-center justify-center align-middle">
      <div class="p-4 md:hidden bg-white grid grid-cols-5 gap-8">
        <SocialMediaContainer iconSize={40} />
      </div>

      <div class="text-center text-lg p-8">
        <div>&copy; Ragin'D {copyRightYear}</div>
        <div>
          Made By <LinkComponent href="https://www.rustybass.com/" isExternal
            >Russell</LinkComponent
          >
        </div>
      </div>
    </footer>
  </div>
</Layout>

<style>
  #home-page-container {
    background: rgb(163, 43, 0);
    background: linear-gradient(
      180deg,
      rgba(163, 43, 0, 0.5802696078431373) 0%,
      rgba(148, 15, 15, 1) 30%,
      rgba(136, 61, 18, 1) 60%,
      rgba(193, 56, 41, 0.8715861344537815) 100%
    );
  }

  .bg-paper {
    background-color: #f7f2dd;
  }
</style>
