---
import { Icon } from "astro-icon/components";
import type { SocialMediaEntryProps } from "./SocialMediaContainer.astro";

const { href, name, icon, color } = Astro.props as SocialMediaEntryProps;
---

<div class="text-center m-auto">
  <a href={href} target="_blank">
    <Icon
      class="max-w-15"
      size={80}
      style={{
        color: color,
      }}
      name={`fa-brands:${icon}`}
    />
    <span class="text-xs">
      {name}
    </span>
  </a>
</div>
